.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #506fb8;
    color: white;
    transition: 0.5s all ease;
    position: sticky;
    top: 0;
    z-index: 999;

    &.active{
        background-color: white;
        color: black;
    }

    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        .logo{
            font-size: 34px;
            font-weight: bold;
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500;
            font-family: "Montserat",sans-serif;

            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50% ;
                    object-fit: cover;
            
                }
                
                .options{
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    border: 1px solid lightgray;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: black;
                    width: 200px;
                    font-weight: 300;
                }
            }

           button{
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid white;
            cursor: pointer;
            background-color: transparent;


            &:hover{
                background-color: greenyellow;
                border-color: greenyellow;
            }
           }
        }
    }
    hr{
        width: 100%;
        height: 0;
        border: 0.5px solid lightgray;
    }
    .menu{
        width: 100%;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        color: rgb(117, 116, 116);
        font-family: "Montserat",sans-serif;
    }
}